/* Page styles */
* {
  background-color: #ffffff;
}
/* Text styles */

.logo {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #000;
  position: relative;
  margin: 20px;
  float: left;
  margin-top: 50px;
  margin-left: 75px;
  border-bottom: 5px solid black;
}

.post-main-page {
  font-family: Georgia;
  font-size: 1em;
  font-weight: 500;
  color: #000;
  position: relative;
  margin: 20px;
  clear: both;
  float: inherit;
  margin-top: auto;
  margin-left: 75px;
  line-height: 150%;
  text-align: left;
}

.post-logo {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #000;
  position: relative;
  margin: 20px;
  float: left;
  clear: left;
  margin-left: 75px;
  text-align: left;
}

.logo-link {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  color: #000;
  position: relative;
  margin: 20px;
  float: right;
  margin-top: 50px;
  margin-left: 75px;
  border-bottom: 5px solid black;
}

.blog-logo {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 800;
  color: #000;
  margin: 20px;
  float: left;
  margin-top: 80px;
}

.blog-meta {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 900;
  color: #000;
  position: fixed;
  bottom: 0;
  margin: 20px;
  float: right;
  margin-top: 50px;
  margin-left: 75px;
}

.rss-button {
  font-family: Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 900;
  color: #000;
  position: fixed;
  bottom: 0;
  margin: 20px;
  float: left;
  margin-top: 50px;
  margin-left: 75px;
}

.logo > a {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.info {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 900;
  color: #000;
  position: relative;
  float: left;
  clear: both;
  margin: 5px;
  line-height: 1;
  margin-left: 75px;
}

.info > p {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 900;
}

.info > a:visited {
  text-decoration: none;
  color: #7CB0C2;
}

/* Link styles */

.logo > a {
  text-decoration: none;
  color: #000;
}

.logo > a:hover {
  text-decoration: none;
  color: #8DC27C;
}

.logo > a:visited {
  text-decoration: none;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #8DC27C;
}
a:visited:hover {
  color: #8DC27C;
}
