<!DOCTYPE html>
<html>
<head>
	<title>noah berman</title>
	<link href="css/stylesheet.css" rel="stylesheet" type="text/css">
	<link href="css/reset.css" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- logo goes here -->

<div><a href="http://www.noahberman.org" class="logo">
	<p>NOAH</p>
	<p>BERMAN</p>
</a>
</div>

<div class="contact-info">
  <a href="/nbdotorg_blog/about.html" class="info">About me + Contact info</a>
</div>
<!-- content goes here -->

<div class="home">
		<div class="info">{{ site.posts.first.title | markdownify }}</div>
		<div class="post-main-page">{{ site.posts.first.content | markdownify }}</div>
	<p class="info">Posts</p>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="info" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
					{% assign post = site.posts.first %}
					{% assign content = post.content %}
				</h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-button">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>



</body>
</html>