<!DOCTYPE html>
<html>
<head>
	{% include post-header.html %}
</head>

<div><a href="https://bermannoah.github.io/nbdotorg_blog/" class="logo">
	<p>NOAH</p>
	<p>BERMAN</p>
	</a>
</div>

<body>
	<h1 class="post-logo">
	{% if page.title %}
	    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
	{% endif %}
	{% if post.title %}
	    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
	{% endif %}
	</h1>
	<div class="post">{{ content }}</div>
	
	<p class="rss-button">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</body>
</html>